numpy==1.26.4
gym==0.26.2
gym-super-mario-bros==7.4.0
nes-py==8.2.1
torch==2.3.0
imageio==2.31.1
imageio-ffmpeg==0.4.8
opencv-python==4.8.0.76
tqdm==4.66.1
cloudpickle==2.2.1
matplotlib==3.7.2
tensordict==0.1.2
colorama==0.4.6
lz4==4.3.2

